<div class="container" *ngIf="forecast">
  <div class="container-area">Name of Area {{ forecast.name }}</div>
  <div class="container-temp">Temperature {{ forecast.main.temp }}&deg;</div>
  <div class="container-weather" *ngFor="let weather of forecast.weather">
    Description {{ weather.description }}
  </div>
  <div>Max {{ forecast.main.temp_max }}&deg;</div>
  <div>Min {{ forecast.main.temp_min }}&deg;</div>
  <button (click)="getForecast()">Refresh</button>
</div>
<div *ngIf="error">
  {{error}}
</div>
<div *ngIf="!error && !forecast">
    Loading
</div>
