<div class="container" *ngIf="forecast">
  <div class="container-area">Suburb {{ forecast.name }}</div>
  <div class="container-temp">Temperature {{ forecast.main.temp | toCelcuis}}</div>
  <div class="container-weather" *ngFor="let weather of forecast.weather">
   {{ weather.description }}
   <div class="container-weather-icon"><img [src]="'http://openweathermap.org/img/w/'+ weather.icon +'.png'"></div>
  </div>
  <div class="container-max">Max {{ forecast.main.temp_max | toCelcuis }}&deg;</div>
  <div class="container-min">Min {{ forecast.main.temp_min | toCelcuis}}&deg;</div>
  <button class="container-button" (click)="getForecast()">Refresh</button>
</div>
<div *ngIf="error" class="container container-area">
  {{error}}
</div>
<div *ngIf="!error && !forecast" class="container-loader "></div>

